---
interface Props {
  hero?: boolean;
  animated?: boolean;
}

const { hero, animated } = Astro.props;

const wrapperClasses = `title-block ${hero ? "hero" : ""} ${
  animated ? "animated " : ""
}`;

import AnimatedEntrance from "../AnimatedEntrance.vue";
import Menu from "../Menu.vue";
import Typer from "../Typer.vue";

const heroSpeedAdjustment = 1.3;
---

<div id="title-block" class={wrapperClasses}>
  <a
    href="javascript:document.getElementById('menu-link')?.click()"
    title="Show Menu"
    aria-label="Show Menu"
  >
    {
      hero ? (
        <AnimatedEntrance
          client:load
          type="fadeInDown"
          delay={3.5 / heroSpeedAdjustment}
        >
          <img
            src="/images/headshots/photo2.png"
            transition:name="title-photo"
            alt="Brian D. Adams"
          />
        </AnimatedEntrance>
      ) : (
        <img
          src="/images/headshots/photo2.png"
          transition:name="title-photo"
          alt="Brian D. Adams"
        />
      )
    }
  </a>

  <div class="title">
    <div class="name" transition:name="title-name">
      <a
        href="javascript:document.getElementById('menu-link')?.click()"
        aria-label="Show Menu"
      >
        <span class="bracket">
          {
            hero ? (
              <Typer text="<" client:load time={100 / heroSpeedAdjustment} />
            ) : (
              "<"
            )
          }
        </span>

        <span class="text-gradient">
          {
            hero ? (
              <Typer
                text="Brian D. Adams"
                client:load
                time={1000 / heroSpeedAdjustment}
                delay={100 / heroSpeedAdjustment}
              />
            ) : (
              "Brian D. Adams"
            )
          }
        </span>

        <span class="bracket">
          {
            hero ? (
              <Typer
                text="/>"
                client:load
                time={100 / heroSpeedAdjustment}
                delay={1100 / heroSpeedAdjustment}
              />
            ) : (
              "/>"
            )
          }
        </span>
      </a>
    </div>
    <div class="desc" transition:name="title-desc">
      <a
        href="javascript:document.getElementById('menu-link')?.click()"
        aria-label="Show Menu"
      >
        <span class="bracket">
          {
            hero ? (
              <Typer
                text="["
                client:load
                time={100 / heroSpeedAdjustment}
                delay={1300 / heroSpeedAdjustment}
              />
            ) : (
              "["
            )
          }
        </span>
        <span class="string">
          {
            hero ? (
              <Typer
                text='"web developer"'
                client:load
                time={1000 / heroSpeedAdjustment}
                delay={1400 / heroSpeedAdjustment}
              />
            ) : (
              '"web developer"'
            )
          }
        </span>
        {
          hero ? (
            <Typer
              text=","
              client:load
              time={100 / heroSpeedAdjustment}
              delay={2400 / heroSpeedAdjustment}
            />
          ) : (
            ","
          )
        }

        <span class="string">
          {
            hero ? (
              <Typer
                text='"ui/ux designer"'
                client:load
                time={1000 / heroSpeedAdjustment}
                delay={2500 / heroSpeedAdjustment}
              />
            ) : (
              '"ui/ux designer"'
            )
          }
        </span>
        <span class="bracket">
          {
            hero ? (
              <Typer
                text="]"
                client:load
                time={100 / heroSpeedAdjustment}
                delay={3500 / heroSpeedAdjustment}
              />
            ) : (
              "]"
            )
          }
        </span>
      </a>
    </div>
    {
      hero && (
        <AnimatedEntrance
          client:load
          delay={4 / heroSpeedAdjustment}
          type="fadeInUp"
        >
          <div class="menu">
            <Menu
              id="menu"
              client:load
              fixedLink={false}
              showLabel={true}
              transition:name="menu-link"
            />
          </div>
        </AnimatedEntrance>
      )
    }
  </div>
</div>

<style lang="scss">
  .title-block {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    margin: 0 auto;
    align-items: center;
    font-family: "IBM Plex Mono", monospace;
    font-size: calc(1em + 2.2vw);
    justify-content: center;
  }

  img {
    width: 80px;
    aspect-ratio: 303/260;
  }

  .hero {
    font-size: calc(1em + 4vw);
    min-height: 100dvh;
    justify-content: center;
    flex-direction: column;

    img {
      width: 200px;
    }
  }

  .bracket {
    color: var(--color-secondary);
  }

  .string {
    color: var(--color-primary);
  }

  a {
    text-decoration: none;
    color: white;
  }

  .name {
    font-weight: 400;
    text-align: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .desc {
    text-align: center;
    font-size: 0.45em;
    margin-top: 1px;
  }

  .menu {
    padding-top: 50px;
  }

  // .text-gradient {
  //   background-image: var(--white-gradient);
  //   -webkit-background-clip: text;
  //   -webkit-text-fill-color: transparent;
  //   background-size: 200%;
  //   background-position: 0%;
  // }
</style>
